
body {
    font-family: 'Roboto', sans-serif;
    sans-serif; font-size: 18px;
    color: #333333;
}


h1, h2, h3, h4 { padding: 0px; margin: 0px; font-weight: bold; }
h1 small, h2 small, h3 small, h4 small { color: #333333; }


form textarea { resize: vertical; }
form label { color: #333333; }
form label .required { color: #D43F3A; }
form .form-control { border-radius: 0px; box-shadow: none; }
form .btn { border-radius: 0px; }

form .form-group ul.errorlist { padding: 0px; margin: 0px; list-style: none; }
form .form-group ul.errorlist li { color: #D43F3A; padding-bottom: 10px; font-weight: bold; }


.font-xlg { font-size: 42px; }
.font-lg { font-size: 32px; }
.font-md { font-size: 24px; }
.font-normal { font-size: 18px; }
.font-sm { font-size: 16px; }
.font-xs { font-size: 14px; }


.margin-top-lg { margin-top: 50px; }
.margin-top-md { margin-top: 25px; }
.margin-top-sm { margin-top: 15px; }
.margin-top-xs { margin-top: 5px; }
.margin-top-none { margin-top: 0px; }

.margin-bottom-lg { margin-bottom: 50px; }
.margin-bottom-md { margin-bottom: 25px; }
.margin-bottom-sm { margin-bottom: 15px; }
.margin-bottom-xs { margin-bottom: 5px; }
.margin-bottom-none { margin-bottom: 0px; }


.padding-top-lg { padding-top: 50px; }
.padding-top-md { padding-top: 25px; }
.padding-top-sm { padding-top: 15px; }
.padding-top-xs { padding-top: 5px; }
.padding-top-none { padding-top: 0px; }

.padding-bottom-lg { padding-bottom: 50px; }
.padding-bottom-md { padding-bottom: 25px; }
.padding-bottom-sm { padding-bottom: 15px; }
.padding-bottom-xs { padding-bottom: 5px; }
.padding-bottom-none { padding-bottom: 0px; }


.alert { border-radius: 0px; padding: 25px;  }
.alert a { color: #000000; text-decoration: underline; }
.alert-danger { background-color: #d43f3a; border-color: #d43f3a; color: #000000; }
.alert-info { background-color: #337AB7; border-color: #337AB7; color: #000000; }
.alert-success { background-color: #5CB85C; border-color: #5CB85C; color: #000000; }
.alert-warning { background-color: #f0AD4E; border-color: #f0AD4E; color: #000000; }


.btn-danger, .btn-danger, .btn-danger:hover { background-color: #d43f3a; border-color: #d43f3a; color: #000000; }
.btn-info, .btn-info:hover { background-color: #337AB7; border-color: #337AB7; color: #000000; }
.btn-success, .btn-success:hover { background-color: #5CB85C; border-color: #5CB85C; color: #000000; }
.btn-warning, .btn-warning:hover { background-color: #f0AD4E; border-color: #f0AD4E; color: #000000; }


@media (min-width: 992px){
    .container { width: 750px; }
}

.simple-django-cms-navbar { background-color: #333333; border: 0px; border-radius: 0px; margin-bottom: 0px; }
.simple-django-cms-navbar .navbar-brand,
.simple-django-cms-navbar .navbar-brand:hover { color: #FFFFFF; }
.simple-django-cms-navbar .navbar-toggle,
.simple-django-cms-navbar .navbar-toggle:hover { background-color: #333333 !important; border: 0px !important; }
.simple-django-cms-navbar .navbar-toggle .icon-bar, .navbar-toggle:hover .icon-bar { background-color: #FFFFFF; }
.simple-django-cms-navbar .navbar-collapse { border: 0px !important; }
.simple-django-cms-navbar .navbar-nav > li > a,
.simple-django-cms-navbar .navbar-nav > li > a:focus,
.simple-django-cms-navbar .navbar-nav > li > a:hover { color: #FFFFFF; }
.simple-django-cms-navbar .navbar-nav > .open > a { background-color: #333333 !important; color: #FFFFFF !important; }

@media (max-width: 767px){
    .simple-django-cms-navbar .navbar-nav .open .dropdown-menu > li > a,
    .simple-django-cms-navbar .navbar-nav .open .dropdown-menu > li > a:hover { color: #FFFFFF; }
}


ul.simple-django-cms-list { padding: 0px; margin: 0px; list-style: none; }
ul.simple-django-cms-list li { padding-bottom: 25px; margin-bottom: 25px; border-bottom: 1px solid #E2DEE5; font-size: 21px; line-height: 27px; word-break: break-all; }
ul.simple-django-cms-list li small { font-size: 16px; line-height: 21px; }
ul.simple-django-cms-list li a { color: #4C52A8; font-weight: bold; }
ul.simple-django-cms-list li:last-child { padding-bottom: 25px; margin-bottom: 25px; border-bottom: 0px; }


.simple-django-cms-jumboheader { background-color: #333333; padding-top: 50px; padding-bottom: 50px; }
.simple-django-cms-jumboheader h1 { color: #FFFFFF; padding: 0px; margin: 0px; margin-bottom: 50px; line-height: 35px; font-size: 42px; word-break: break-all; }
.simple-django-cms-jumboheader h1 small { color: #FFFFFF; }
.simple-django-cms-jumboheader form label { color: #FFFFFF; }
.simple-django-cms-jumboheader .form-control { border-radius: 0px; }
.simple-django-cms-jumboheader .btn { border-radius: 0px; }
.simple-django-cms-jumboheader .panel { border-radius: 0px; }
/* .simple-django-cms-jumboheader a { color: #FFFFFF; text-decoration: underline; } */
/* .simple-django-cms-jumboheader a.btn { color: #FFFFFF; text-decoration: none; } */
.simple-django-cms-jumboheader ul { list-style: none; padding: 0px; margin: 0px; }
.simple-django-cms-jumboheader ul li { padding-bottom: 10px; color: #FFFFFF; }
.simple-django-cms-jumboheader ul li a { color: #FFFFFF; text-decoration: underline; }
.simple-django-cms-jumboheader ul.condensed li { padding-bottom: 0px; font-size: 14px; }


ul.simple-django-cms-pagination { padding: 0px; margin: 0px; list-style: none;}
ul.simple-django-cms-pagination li {  }
ul.simple-django-cms-pagination li a { color: #4C52A8; font-weight: bold; }


.simple-django-cms-form {}
.simple-django-cms-form h2 { color: #333333; font-weight: bold; }
.simple-django-cms-form h3 { color: #333333; font-weight: bold; margin: 0px; padding: 0px; margin-top: 20px; margin-bottom: 20px; }

.iamheadless_readability_field_readability_score {  }
.iamheadless_readability_field_readability_score.unset {  }
.iamheadless_readability_field_readability_score.very_easy { color: #449d44; }
.iamheadless_readability_field_readability_score.easy { color: #449d44; }
.iamheadless_readability_field_readability_score.fairly_easy { color: #449d44; }
.iamheadless_readability_field_readability_score.plain_english { color: #449d44; }
.iamheadless_readability_field_readability_score.fairly_difficult { color: #d43f3a; }
.iamheadless_readability_field_readability_score.difficult { color: #d43f3a; }
.iamheadless_readability_field_readability_score.very_difficult { color: #d43f3a; }
.iamheadless_readability_field_readability_score.extremely_difficult { color: #d43f3a; }
