{% load simple_django_cms_tags %}

<div>

    <!-- CONTENT -->
    {% if translatable_contents_form is not None or translatable_contents_data_form is not None %}
        <h2 class="margin-bottom-lg">Translatable content</h2>
    {% endif %}
    {% if translatable_contents_form is not None %}
        {% include 'simple_django_cms/platform/admin/components/forms/tabbed_content_formset.html' with FORMSET=translatable_contents_form %}
    {% endif %}
    {% if translatable_contents_data_form is not None %}
        {% include 'simple_django_cms/platform/admin/components/forms/form.html' with FORM=translatable_contents_data_form %}
    {% endif %}
    {% if translatable_contents_form is not None or translatable_contents_form is not None %}
        <div class="row margin-bottom-md"></div>
    {% endif %}

    <!-- RELATIONS -->
    {% if relations_form is not None %}
        <h2 class="margin-bottom-lg">Relations</h2>
        {% include 'simple_django_cms/platform/admin/components/forms/relation_formset.html' with FORMSET=relations_form %}
        <div class="row margin-bottom-md"></div>
    {% endif %}

    <!-- ITEM -->
    {% if item_form is not None or item_data_form is not None %}
        <h2 class="margin-bottom-lg">Item data</h2>
    {% endif %}
    {% if item_data_form is not None %}
        {% include 'simple_django_cms/platform/admin/components/forms/form.html' with FORM=item_data_form %}
    {% endif %}
    {% if item_form is not None %}
        {% include 'simple_django_cms/platform/admin/components/forms/form.html' with FORM=item_form %}
    {% endif %}
    {% if item_data_form is not None or item_form is not None %}
        <div class="row margin-bottom-md"></div>
    {% endif %}

</div>
