<div class="formset-relations">

    {% if FORMSET.formset_title|default:None is not None %}
        <h3 class="margin-bottom-md">
            <span class="pull-right">
                <small>
                    <a href="#" class="formset-trigger-add-form">
                        Add new relation
                    </a>
                </small>
            </span>
            {{ FORMSET.formset_title }}
        </h3>
    {% endif %}

    <div class="formset-empty-form" id="__prefix__-relation-form" style="display: none;">
        {% include 'simple_django_cms/platform/admin/components/forms/relation_form.html' with FORM=FORMSET.empty_form %}
    </div>

    <div class="formset-management-form">
        {{ FORMSET.management_form }}
    </div>

    {% for form in FORMSET %}
        <div class="formset-form" id="{{ forloop.counter0 }}-relation-form">
            {% include 'simple_django_cms/platform/admin/components/forms/relation_form.html' with FORM=form %}
        </div>
    {% endfor %}

</div>
