{% extends 'simple_django_cms/platform/admin/base.html' %}
{% load simple_django_cms_tags %}

{% block content %}

    {% constant 'URLNAME_ADMIN_LIST_PROJECTS' as URLNAME_ADMIN_LIST_PROJECTS %}
    {% constant 'URLNAME_ADMIN_LIST_ITEMS' as URLNAME_ADMIN_LIST_ITEMS %}
    {% constant 'URLNAME_ADMIN_CREATE_ITEMS_SELECT_TENANT' as URLNAME_ADMIN_CREATE_ITEMS_SELECT_TENANT %}

    <div class="container-fluid simple-django-cms-jumboheader margin-bottom-lg">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        {% include 'simple_django_cms/platform/admin/components/headings/h1.html' with title=page.title subtitle=page.subtitle %}
                        <div class="row margin-bottom-lg hidden-lg hidden-md hidden-sm"></div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <ul class="text-right">
                            <li><a href="{% url URLNAME_ADMIN_LIST_PROJECTS %}">Change project</a></li>
                            <li><a href="{% url URLNAME_ADMIN_CREATE_ITEMS_SELECT_TENANT project_id=view.kwargs.project_id %}">Create item</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <form action="{{ request.path }}" method="GET">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="filter_keyword">Keyword</label>
                                <input type="text" name="q" id="filter_keyword" class="form-control input-lg" value="{{ request.GET.q|default:'' }}" />
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="filter_content_type">Content type</label>
                                <select name="content_type" id="filter_content_type" class="form-control input-lg">
                                    <option value="">All</option>
                                    {% for choice in choices.content_types %}
                                        <option value="{{ choice.0 }}" {% if choice.0 == request.GET.content_type %}selected{% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="filter_tenant">Tenant</label>
                                <select name="tenant" id="filter_tenant" class="form-control input-lg">
                                    <option value="">All</option>
                                    {% for choice in choices.tenants %}
                                        <option value="{{ choice.0 }}" {% if choice.0|slugify == request.GET.tenant %}selected{% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="filter_statuses">Status</label>
                                <select name="status" id="filter_statuses" class="form-control input-lg">
                                    <option value="">None</option>
                                    {% for choice in choices.statuses %}
                                        <option value="{{ choice.0 }}" {% if choice.0 == request.GET.status %}selected{% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <a href="{{ request.path }}" class="btn btn-lg btn-danger pull-right">Clear filters</a>
                                <button class="btn btn-success btn-lg">Filter</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container margin-bottom-lg">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-md">
                <h2>Found: {{ results.total }}</h2>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="simple-django-cms-list">
                    {% for result in results.results %}
                        <li>
                            <a href="{{ result.edit_url }}">{{ result.title }}</a><br />
                            <small>{{ result.content_type|capfirst }}; {{ result.tenant }}; {{ result.created_at|date:'d/m/Y H:i' }}</small>
                        </li>
                    {% empty %}
                        <li>
                            No items found
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {% include 'simple_django_cms/platform/admin/components/pagination.html' with page=results.page pages=results.pages next_url=results.next_url previous_url=results.previous_url %}
            </div>
        </div>
    </div>

{% endblock %}
