{% extends 'simple_django_cms/platform/admin/base.html' %}

{% load simple_django_cms_tags %}
{% load static %}

{% block content %}

    {% constant 'URLNAME_ADMIN_CREATE_ITEMS_SELECT_CONTENT_TYPE' as URLNAME_ADMIN_CREATE_ITEMS_SELECT_CONTENT_TYPE %}

    <div class="container-fluid simple-django-cms-jumboheader margin-bottom-lg">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        {% include 'simple_django_cms/platform/admin/components/headings/h1.html' with title=page.title subtitle=page.subtitle %}
                        <div class="row margin-bottom-lg hidden-lg hidden-md hidden-sm"></div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <ul class="text-right">
                            <li>
                                <a href="{% url URLNAME_ADMIN_CREATE_ITEMS_SELECT_CONTENT_TYPE project_id=view.kwargs.project_id tenant_id=view.kwargs.tenant_id %}">
                                    Change content type
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if messages %}
        <div class="container margin-bottom-sm">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-md">
                    {% for message in messages %}
                        {% include 'simple_django_cms/platform/admin/components/alerts/alert.html' with tag=message.tags message=message %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container margin-bottom-lg">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form action="{{ request.path }}" method="POST">
                    {% csrf_token %}

                    <!-- CONTENT -->
                    {% if forms.translatable_contents is not None %}
                        <h2 class="margin-bottom-lg">Translatable content</h2>
                        {% include 'simple_django_cms/platform/admin/components/forms/tabbed_content_formset.html' with FORMSET=forms.translatable_contents %}
                        <div class="row margin-bottom-md"></div>
                    {% endif %}

                    <!-- RELATIONS -->
                    {% if forms.relations is not None %}
                        <h2 class="margin-bottom-lg">Relations</h2>
                        {% include 'simple_django_cms/platform/admin/components/forms/relation_formset.html' with FORMSET=forms.relations %}
                        <div class="row margin-bottom-md"></div>
                    {% endif %}

                    <!-- ITEM DATA -->
                    {% if forms.item_data is not None %}
                        <h2 class="margin-bottom-lg">Item content</h2>
                        {% include 'simple_django_cms/platform/admin/components/forms/form.html' with FORM=forms.item_data %}
                        <div class="row margin-bottom-md"></div>
                    {% endif %}

                    <!-- ITEM -->
                    {% if forms.item is not None %}
                        <h2 class="margin-bottom-lg">Metadata</h2>
                        {% include 'simple_django_cms/platform/admin/components/forms/form.html' with FORM=forms.item %}
                        <div class="row margin-bottom-md"></div>
                    {% endif %}

                    <div class="form-group">
                        <button class="btn btn-success btn-lg">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}

    {% setting 'LANGUAGES' as LANGUAGES %}

    {{ LANGUAGES|json_script:"languages" }}

    <script>
        var LANGUAGES = JSON.parse($('#languages').first().text())
    </script>

    <script src="{% static 'simple_django_cms/admin/js/item_forms.js' %}"></script>

{% endblock %}
