{% extends 'simple_django_cms/platform/admin/base.html' %}

{% load simple_django_cms_tags %}
{% load static %}

{% block content %}

    {% constant 'URLNAME_ADMIN_CREATE_ITEMS_SELECT_CONTENT_TYPE' as URLNAME_ADMIN_CREATE_ITEMS_SELECT_CONTENT_TYPE %}

    <div class="container-fluid simple-django-cms-jumboheader margin-bottom-lg">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        {% include 'simple_django_cms/platform/admin/components/headings/h1.html' with title=page.title subtitle=page.subtitle %}
                        <div class="row margin-bottom-lg hidden-lg hidden-md hidden-sm"></div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <ul class="text-right">
                            <li>
                                <a href="{% url URLNAME_ADMIN_CREATE_ITEMS_SELECT_CONTENT_TYPE project_id=view.kwargs.project_id tenant_id=view.kwargs.tenant_id %}">
                                    Change content type
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if messages %}
        <div class="container margin-bottom-sm">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-md">
                    {% for message in messages %}
                        {% include 'simple_django_cms/platform/admin/components/alerts/alert.html' with tag=message.tags message=message %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container margin-bottom-lg">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form action="{{ request.path }}" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <div class="form-group">
                        <button class="btn btn-success btn-lg">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}

    <script src="{% static 'simple_django_cms/admin/js/formset_app_languages.js' %}"></script>
    <script src="{% static 'simple_django_cms/admin/js/formset_app_relations.js' %}"></script>
    <script src="{% static 'simple_django_cms/admin/js/formset_app.js' %}"></script>
    <script src="{% static 'simple_django_cms/admin/js/languages.js' %}"></script>

    <script>

        {% setting 'DEFAULT_LANGUAGE' as DEFAULT_LANGUAGE %}
        {% setting 'LANGUAGES' as LANGUAGES %}
        {% setting 'URLNAME_READABILITY_TEXT_ANALYZE' as URLNAME_READABILITY_TEXT_ANALYZE %}

        var DEFAULT_LANGUAGE = '{{ DEFAULT_LANGUAGE.0 }}';
        var LANGUAGES = [{% for x in LANGUAGES %}['{{x.0}}', '{{ x.1}}'],{% endfor %}];

        // var IAMHEADLESS_READABILITY_FORM_FIELD_SCORE_CLASS_NAME = '';
        var IAMHEADLESS_READABILITY_URL = '#';
        var IAMHEADLESS_READABILITY_FORM_FIELD_SCORE_TEXT = 'Reading score';

        $(document).ready(function(){

            window.language_formset_after_detect_formset_function = function(form_element){
                new DetectReadableFormFields();
                new DetectFormSlugFields();
            };

            new IamheadlessPublisherAdminFormsetController(IamheadlessPublisherAdminLanguageFormset, '.iamheadless-publisher-admin-formset-languages');
            new IamheadlessPublisherAdminFormsetController(IamheadlessPublisherAdminRelationFormset, '.iamheadless-publisher-admin-formset-relations');
        });

    </script>

{% endblock %}
